:root {
    --primary-color: #46BEFF;
    --secondary-color: #46BEFF;
    --text-color: #303030;
    --background-color: #F2F2F2;
    --navbar-background: #3D6899;
}

html, body {
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}

h2 {
    color: var(--navbar-background);
}

p {
    font-size: 25px;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px;
    background-color: var(--navbar-background);
    position: relative;
}

.logo {
    color: #F7F7F7;
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-links {
    display: flex;
    gap: 24px;
    list-style: none;
    margin: 0;
}

.nav-links a {
    text-decoration: none;
    color: #F7F7F7;
    font-weight: 500;
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 2rem;
    color: #F7F7F7;
    cursor: pointer;
}

.navbar ul li a {
    color: var(--background-color);
    text-decoration: none;
    font-weight: bold;
}

.navbar ul li a:hover {
    color: var(--secondary-color);
}

footer {
    position: static;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 15px;
    background-color: var(--navbar-background);
    text-align: center;
    color: #F7F7F7;
    box-shadow: #303030 0px 8px 30px -10px;
}


@media (max-width: 700px) {
    .menu-toggle {
        display: block;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        position: absolute;
        top: 100%;
        width: 100%;
        min-width: 200px;
        background-color: rgba(61, 104, 153, 0.7);
        backdrop-filter: blur(10px);
        padding: 16px 20px;
        border-radius: 0;
        box-shadow: 0 8px 20px rgba(0,0,0,0.2);
        z-index: 1000;
        right: 0;
        left: 0;

    }

    .nav-links.active {
        display: flex;
    }
}