:root {
    --primary-color: #001adb;
    --secondary-color: #3e78ff;
    --text-color: #303030;
    --background-color: rgb(235, 242, 255);
    --navbar-background: rgb(22, 22, 22);
}

html, body {
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}

p {
    font-size: 25px;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.navbar {
    background-color: var(--navbar-background);
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: #303030 0px 8px 30px -10px;
    font-size: 30px;

    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-evenly; 
    margin: 0;
    padding: 0;
}

.navbar ul li a {
    color: var(--background-color);
    text-decoration: none;
    font-weight: bold;
}

.navbar ul li a:hover {
    color: var(--secondary-color);
}

footer {
    position: static;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 15px;
    background-color: var(--navbar-background);
    text-align: center;
    color: white;
    box-shadow: #303030 0px 8px 30px -10px;
}